.aboutMe * {
    font-size: 15px ;
}

.aboutMe span {
    display: block;
}

.aboutMe .default span {
    color: #c1c1c1;
}

textarea {
    width: 100%;
    height: 100%;
    font-family: "Circe Light";
    resize: vertical;
    outline: none;
    -moz-appearance: none;
    border: 1px solid #c1c1c1;
}