.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
    transition: 0.5s;
}

.formControl.error span {
    color: red;
    font-size: 14px;
    display: block;
    font-family: "Circe Light";
    margin-top: 5px;
}